@import "src/index.scss";

.intro-div {
  color: white;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 97%;
  margin: auto;
  text-align: center;
  padding: 15% 0px;
  box-shadow: 0px 0px 10px grey;
  border-radius: 5px;
  button {
    @include button;
    margin: auto;
  }
}
