@import "src/index.scss";

// adding flex to all .navbar  child divs
.navbar,
.navbar .branding,
.navbar .navLinks,
.navbar .actionBtns {
  @include flex();
}

.navbar {
  cursor: pointer;
  box-shadow: 0px 0px 10px grey;
  padding: 8px;
  background-image: linear-gradient(
    45deg,
    rgb(255, 239, 224),
    rgb(255, 221, 215)
  );
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  a {
    text-decoration: none;
    color: black;
  }
  .branding {
    #logo {
      width: 50px;
      height: auto;
    }
  }
  .navLinks {
    flex-basis: 35%;
    list-style: none;
    li {
      transition-duration: 0.4s;
    }
    li:hover,
    li:active,
    li:focus {
      border-bottom: 4px solid $btn-color;
      color: $btn-color;
    }
  }
  // whatsapp and cart button
  .actionBtns {
    flex-basis: 10%;
    z-index: 99;
    button {
      @include button;
      svg {
        margin: 0px 5px;
      }
    }
  }
  // sign in button
  #signIn {
    @include button;
    svg {
      margin: 0px 5px;
    }
  }

  // mobile view toogle button
  .toggleBtn {
    transition-duration: 0.4s;
    padding: 2px 5px;
    display: none;
    border-radius: 5px;
    div {
      width: 32px;
      height: 4px;
      background-color: $btn-color;
      margin: 4px 0px;
      border-radius: 50px;
      transition-duration: 0.4s;
    }
    &:hover {
      box-shadow: 0px 0px 3px $btn-color;
    }
  }

  // setting mobile view navbar
  @media screen and (max-width: 900px) {
    .branding {
      h1 {
        font-size: medium;
      }
      #logo {
        width: 35px;
        height: auto;
      }
    }
    .navLinks {
      flex-direction: column;
      position: fixed;
      top: 50px;
      right: 0px;
      background-image: linear-gradient(
        45deg,
        $btn-color,
        rgb(255, 94, 0),
        rgb(255, 178, 53)
      );
      opacity: 0.9;
      z-index: 999;
      width: 60%;
      height: 90vh;
      transform: translateX(100%);
      transition-duration: 0.5s;
      li {
        color: white;
        padding: 2px 10px;
        border-radius: 50px;
        &:hover,
        &:focus {
          background-color: white;
          color: $btn-color;
        }
      }
    }
    .actionBtns {
      position: fixed;
      bottom: 10px;
    }
    .toggleBtn {
      display: block;
    }
  }
}

// effects after toggling in mobile view
.navbar {
  .toggle-navLinks {
    transform: translateX(0px);
    opacity: 1;
  }
  #toggle-line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  #toggle-line2 {
    opacity: 0;
  }
  #toggle-line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
